<%- include('./partials/header.ejs')%>
    <main>
        <div class="container-fluid text-center center-block">
            <h3 class="center-block bold">
                Gamer's Outlook is a platform designed by Thomas Moore in order to help find individuals with the same interest as you.
                With connections largely moving towards online platforms because of the pandemic, it can be difficult to find people to play
                games with unless you're already connected to them. Designed as a project for a class, this platform is made in order to help
                connect people and provide others to play games with during these hard times.
            </h3>
        </div> 
    </main>
<%- include('./partials/footer.ejs')%>