<%- include('./partials/header.ejs')%>
    <main>
        <div class="container-fluid text-center center-block">
            <h2 class="center-block bold">
                Welcome to Gamer's Outlook, the place for you to search for people to play with.
            </h2>

            <h3 class="center-block bold">
                Our purpose is to find people looking to play games together and help create connections. Whether you're hosting a gaming session at a physical location or
                you're hosting online virtually, we're here to help you plan! By going to the Connections page, you're able to set up your even with key details such as
                who, what, and where you're playing. Let us help you find people to play with and help forge new bonds along the way.
            </h3>

            <h3 class="center-block bold">
                Events will be separated into two categories based on whether you're hosting a virtual party or meeting at a physical location!
            </h3>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>
    