<footer>
    <div class="container-fluid">
        <ul class="list-inline">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>© Gamer's Outlook 2021</li>
        </ul>
    </div>
</footer>
</body>
</html>