<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/project1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap3/css/bootstrap.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse" id="header">
            <div class="container-fluid">
                    <a  href="/"><img id="logo" class="img-responsive navbar-brand thumbnail" src="https://i.imgur.com/6H6xCht.png" alt="Gamer's Outlook logo"></a>
                <br><br>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/connections/new">Start a new connection</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign-up</a></li>
                </ul>  
            </div>
            <hr>
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/connections">Connections</a></li>
                </ul>
            </div>
        </nav>
    </header>